<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rgk.android.translator">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Optional. Required for wifi feature -->
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"/>
    <uses-permission android:name="android.permission.NETWORK_SETTINGS"/>

    <application
        android:name=".TranslatorApp"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/home_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle">
            <intent-filter android:priority="2">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".composemessage.ComposeMessageActivity"
            android:label="@string/compose_message"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".microsoft.tts.TextMessageActivity"
            android:label="TextMessage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".permission.RequestPermissionsActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/SettingTheme"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.translator.setting.network" />
                <action android:name="com.translator.setting.pair" />
                <action android:name="com.translator.setting.role" />
                <action android:name="com.translator.setting.common" />
                <action android:name="com.translator.setting.storage" />
                <action android:name="com.translator.setting.ota" />
                <action android:name="com.translator.setting.about" />
                <action android:name="com.translator.setting.mainscreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".mpush.sdk.MPushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.mpush.HEALTH_CHECK" />
                <action android:name="com.mpush.NOTIFY_CANCEL" />
            </intent-filter>
        </receiver>

        <service
            android:name=".mpush.sdk.MPushService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".mpush.sdk.MPushFakeService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.rgk.android.translator.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <receiver
            android:name=".settings.ota.AppInstalledReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity android:name=".testUi.chat.ChatActivity" />
        <activity android:name=".testUi.PairActivity" />
        <receiver
            android:name=".testUi.chat.PushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mpush.MESSAGE_RECEIVED" /> <!-- 收到PUSH消息 -->
                <action android:name="com.mpush.KICK_USER" /> <!-- 收到踢人消息 -->
                <action android:name="com.mpush.CONNECTIVITY_CHANGE" /> <!-- 收到链接变化 -->
                <action android:name="com.mpush.HANDSHAKE_OK" /> <!-- 收到握手成功消息 -->
                <action android:name="com.mpush.BIND_USER" /> <!-- 收到绑定用户消息 -->
                <action android:name="com.mpush.UNBIND_USER" /> <!-- 收到解绑用户消息 -->


                <!-- 此值要改为自己的应用的applicationId  @see MPushService -->
                <category android:name="com.rgk.android.translator" />
            </intent-filter>
        </receiver>

    </application>

</manifest>